body{
    font-family: 'Rubik', sans-serif;
}
.curve{
    border-radius:0 0 70px 70px;
}
.navbar-brand{
    width:15%;
}
#navbarNavDropdown ul li a{
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
}
#navbarNavDropdown ul li a:hover{
    background: #d65106;
    color: white;
}
.active a{
    border-radius: 5px;
    color: white !important;
    background: #d65106;
}


/* ########### Slider ########## */


#main-slider .carousel-control-prev, #main-slider .carousel-control-next{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: auto;
    background: #d65106;
}
#main-slider .carousel-caption{
    text-align: left;
    width: 50%;
    bottom: 35%;
}
#main-slider .carousel-caption h1{
    color: #d65106;
}
#main-slider .btncolor{
    background: #d65106;
    color: white;
    border: 2px solid #d65106;
}
#main-slider .btncolor:hover{
    background: white;
    color: #d65106;
    border: 2px solid #d65106;
}


/* ########## About ########## */


#about{
    background-image: url(../img/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    text-align: justify;
}
#about .opacity{
    background: rgb(255 255 255 / 65%);
}
#about h1{
    font-size: 2rem !important;
}
#about .theme-color{
    color: #d65106;
}
#about .btncolor{
    background: #d65106 !important;
    color: white !important;
}
#about .btncolor:hover{
    background: white !important;
    color: #d65106 !important;
    border: 2px solid #d65106;
}
#about .shadow{
    -webkit-box-shadow: 20px 20px 0px 1px rgba(214,81,6,1)  !important;
    -moz-box-shadow: 20px 20px 0px 1px rgba(214,81,6,1)!important;
    box-shadow: 20px 20px 0px 1px rgba(214,81,6,1) !important;
}


/* ########## Banner ########## */


#banner{
    background-image: url(../img/qt-bg.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover ;
    font-size: 30px;
    color: white;
    height: 350px;
}
#banner .opacity{
    background: rgb(0 0 0 / 65%);
}
#banner .banner-text{
    height: 350px;
}


/* ########## Menu-item ########## */


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: white;
    background: #d65106;
}
.nav-pills .nav-link{
    color: black;
    border: 2px solid #d65106;
    margin-top: 5px;
}


/* ########## Gallary ########### */


#gallary{
    padding-top: 70px;
}
#gallary img{
    margin-bottom: 30px;
    border: 2px solid #d65106;
}


/* ########## Review ########## */


#review{
    margin-top: 100px;
}
#review #carouselExampleControls .img-box{
    height: 135px;
    width: 135px;
}
#review #carouselExampleControls h2{
    color: #d65106;
    padding-top: 30px;
}
#review .carousel-control-prev, #review .carousel-control-next{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: auto;
    background: #d65106;
}


/* ########## Contact ########## */


#contact{
    background: #d65106;
    border-radius: 100px;
    margin-top: 80px;
}
#contact .bg{
    background: white;
    color: #d65106;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}
#contact .arrow{
    color: white;
    font-size: 40px;
    padding: 10px;
}
#contact p{
    color: white;
    margin: 0;
}
#contact h5{
    color: white;
}
#contact .contant{
    padding: 30px 0;
}


/* ########## Footer ########## */


#footer{
    background-image: url(../img/footer-bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    border-bottom: 4px solid rgb(207, 166, 113);
}
#footer .opacity{
    background: rgb(0 0 0 / 65%);
}
#footer h4{
    margin: 50px 0 20px 0;
    border-bottom: 2px solid rgba(207, 166, 113, 0.5);
    padding-bottom: 10px;
}
#footer #email{
    height: 50px;
}
#footer #button{
    background: #d65106;
    color: white;
    margin-top: 10px;
}
#footer #button:hover{
    background: white;
    color: #d65106;
}
#footer .icon{
    margin-top: 15px;
}
#footer i{
    color: #d65106;
    background: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding: 9px;
}
#footer i:hover{
    background: #d65106;
    color: white;
}


/* Copyright */

#copyright{
    height: 50px;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}


/* ########## Tag ########## */


#tag{
    background-image: url(../img/all-bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 300px;
    color: white;
}
#tag .overlay{
    background: rgb(0 0 0 / 65%);
    height: 300px;
}
#tag .overlay h1{
    text-align: center;
    width: 100%;
    padding-top: 8% ;
}